html, body {
    overflow-y: auto;
}

html, body, button, h1, h2 {
    font-family: 'Quicksand' !important;
    font-weight: 500;
}

body, section.hero {
    background-color: #0e0e10;
}

.title, .subtitle {
    color: #efefd0;
}

span.accent {
    color: #a970ff;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 400;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.vod .field {
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    margin-bottom: 1.5rem;
}

.button.is-primary {
    background-color: #a970ff;
    border-color: transparent;
    color: #fff;
}

.button.is-primary.is-hovered,.button.is-primary:hover {
    background-color: #8759cc;
    border-color: transparent;
    color: #fff;
}

.button.is-primary.is-focused,.button.is-primary:focus {
    border-color: transparent;
    color: #fff;
}

.button.is-primary.is-focused:not(:active),.button.is-primary:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(169, 112, 255, .25)
}

.button.is-primary.is-active,.button.is-primary:active {
    background-color: #8759cc;
    border-color: transparent;
    color: #fff;
}

.button.is-primary[disabled],fieldset[disabled] .button.is-primary {
    background-color: #a970ff;
    border-color: #a970ff;
    box-shadow: none;
}

.button.is-primary.is-inverted {
    background-color: #fff;
    color: #a970ff;
}

.button.is-primary.is-inverted.is-hovered,.button.is-primary.is-inverted:hover {
    background-color: #f2f2f2
}

.button.is-primary.is-inverted[disabled],fieldset[disabled] .button.is-primary.is-inverted {
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;
    color: #a970ff;
}

.button.is-primary.is-loading::after {
    border-color: transparent transparent #fff #fff!important;
}

#formPlayer {
    display: none;
}

#formPlayer .select, #formPlayer .select select {
    width: 100%;
}

#player {
    display: none;
    margin: auto;
    width: 100%;
    border-radius: 4px;
}
